*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family:sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

}
.pimg1{
    background-image: url(images/image1.png);
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* min-height: 100%; */

}
.textbg{
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    
    font-size: 27px;
    letter-spacing: 8px;

}
.ptext{
    background: #313534;
    color: #fff;
    padding: 20px;
}

/* The unicode-bidi property is used together with the direction property to set or return whether the text should be overridden to support multiple languages in the same document. */


/* The background-repeat property sets if/how a background image will be repeated.

By default, a background-image is repeated both vertically and horizontally. */


/* The background-attachment property sets whether a background image scrolls with the rest of the page, or is fixed.

 */
section{
    text-align: center;
    padding: 50px 80px;
}

 .onwhite{
    /* background-color: #f4f4f4; */
     letter-spacing: 1px;
 }
.pimg2{
    background-image: url(images/image2.png);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
}
.textbg2{
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    
    font-size: 27px;
    letter-spacing: 8px;

}
.ptext3{
    background-color: #313534;
    color: #fff;
    padding: 20px;
}
.pimg3{
    background-image: url(images/image3.png);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
}
.onblack{
    background-color: #313534;
    color: #fff;
    letter-spacing: 1.2px;
}
h3{
    padding-bottom: 20px;
}